@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  // @font-face {
  //     font-family: 'Acrom';
  //     src: url('/static/fonts/Acrom/Acrom-Thin.woff2') format('woff2'),
  //         url('/static/fonts/Acrom/Acrom-Thin.woff') format('woff'),
  //         url('/static/fonts/Acrom/Acrom-Thin.ttf') format('truetype');
  //     font-weight: 100;
  //     font-style: normal;
  //     font-display: swap;
  // }

  // @font-face {
  //     font-family: 'Acrom';
  //     src: url('/static/fonts/Acrom/Acrom-Light.woff2') format('woff2'),
  //         url('/static/fonts/Acrom/Acrom-Light.woff') format('woff'),
  //         url('/static/fonts/Acrom/Acrom-Light.ttf') format('truetype');
  //     font-weight: 300;
  //     font-style: normal;
  //     font-display: swap;
  // }

  @font-face {
    font-family: 'Acrom';
    src: url('/static/fonts/Acrom/Acrom-Regular.woff2') format('woff2'),
      url('/static/fonts/Acrom/Acrom-Regular.woff') format('woff'),
      url('/static/fonts/Acrom/Acrom-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Acrom';
    src: url('/static/fonts/Acrom/Acrom-Bold.woff2') format('woff2'),
      url('/static/fonts/Acrom/Acrom-Bold.woff') format('woff'),
      url('/static/fonts/Acrom/Acrom-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Acrom';
    src: url('/static/fonts/Acrom/Acrom-Medium.woff2') format('woff2'),
      url('/static/fonts/Acrom/Acrom-Medium.woff') format('woff'),
      url('/static/fonts/Acrom/Acrom-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  // @font-face {
  //     font-family: 'Acrom';
  //     src: url('/static/fonts/Acrom/Acrom-ExtraBold.woff2') format('woff2'),
  //         url('/static/fonts/Acrom/Acrom-ExtraBold.woff') format('woff'),
  //         url('/static/fonts/Acrom/Acrom-ExtraBold.ttf') format('truetype');
  //     font-weight: 800;
  //     font-style: normal;
  //     font-display: swap;
  // }
}
